__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/
ENV/
env/
.env
.env.*
.pytest_cache/
.mypy_cache/
.vscode/
.idea/
*.sqlite3
*.db
node_modules/
*.log
*.pot
*.pyc
instance/
/.pytest_cache/
thumbs.db
desktop.ini
*.DS_Store
